<div class="card p-3 mt-3">
    <form>
        <div class="row">
            <div class="col-12 col-md-3 mb-3">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" placeholder="Enter character name here">
            </div>
            <div class="col-12 col-md-3 mb-3">
                <label class="form-label">Element</label>
                <select class="form-select">
                    <option value="">All</option>
                    <option value="">Anemo</option>
                    <option value="">Geo</option>
                    <option value="">Electro</option>
                    <option value="">Dendro</option>
                    <option value="">Hydro</option>
                    <option value="">Pyro</option>
                    <option value="">Cryo</option>
                </select>
            </div>
            <div class="col-12 col-md-3">
                <label class="form-label">Weapon</label>
                <select class="form-select">
                    <option value="">All</option>
                    <option value="">Sword</option>
                    <option value="">Claymore</option>
                    <option value="">Polearm</option>
                    <option value="">Catalyst</option>
                    <option value="">Bow</option>
                </select>
            </div>
            <div class="col-12 col-md-3 mt-4">
                <button class="btn btn-primary mt-2" (click)="SearchForCharacter()"><i class="bi bi-search"></i> Search</button>
            </div>
        </div>
    </form>
</div>